.ng-select-fieldset {
  position: relative;
  border: 1px solid #ccc;

  ng-select {
    display: block;
    border: none !important;
    background: transparent;
  }

  .floating-label {
    position: absolute;
    top: -9px;
    left: 10px;
    background: white;
    color: #666;
    font-size: 12px;
    pointer-events: none;
  }
}
