<div class="row">
    <div class="col-lg-12" *ngIf="before_html!=undefined">
        <div class="card card-accent-primary">
            <div class="card-block" [innerHTML]="before_html | safeHtml"></div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-th-list"></i> {{page_title}}
            </div>
            <div class="card-block">
                <div *ngIf="loading;then loading_block else loaded_block"></div>
                <ng-template #loading_block>
                    <div class="loader">Loading...</div>

                </ng-template>
                <ng-template #loaded_block>

                    <ng-container *ngFor="let condition of conditions.condition_a; let i = index;">
                        <div style="margin-bottom:10px">
                            <condition-form [table]="table_info.table" [default_condition]="condition" (valueChanged)="onValueChanged($event)" [index]="i"></condition-form>
                            <button class="btn btn-danger pull-left btn-sm btn mt-1" (click)="delCondition(i)"><i class="fa fa-minus"></i></button>
                        </div>
                    </ng-container>
                    <br style="clear: both">
                    <button class="btn btn-success pull-left btn-md btn-sm" (click)="addCondition()"><i class="fa fa-plus"></i></button>
                    <!--
                    <form enctype="multipart/form-data" class="form-horizontal" id="search_form">
                        <admin-forms [menu]="menu" [fields]="fields" [forms]="forms" [data]="data" [error_a]="error_a"></admin-forms>
                        <admin-forms [menu]="menu" [fields]="extend_search_fields" [forms]="extend_search_forms" [data]="data"
                                     [error_a]="error_a"></admin-forms>
                    </form>
                    -->

                    <!--
                    <ng-container *ngFor="let child of child_a">
                        <h4> {{child.name}} </h4>
                        <admin-forms [menu]="menu" [fields]="child.fields" [forms]="child.forms" [data]="child.data" [is_child]="true" ></admin-forms>
                    </ng-container>
                    -->
                </ng-template>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-ladda" data-style="expand-right" [ladda]='sending' type="submit"
                        (click)="search()">
                    <i class="fa fa-check"></i>検索
                </button>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>
<!--/.row-->


