#dashboard-nav {
    li.nav-item {
        a {
            border-top: 1px solid #e1e6ef !important;
            border-right: 1px solid #e1e6ef !important;
            background: white;
            color: #333;
        }
    }
}
