.card-header.dataset-detail{
    padding-bottom: 0.75rem!important;
}
.dataset-detail ::ng-deep .btn-group {
    margin-bottom: 0px!important;
}
.dataset-detail  custom-filter-pulldown ::ng-deep button {
    margin-top: 2px;
}
.dataset-detail  custom-filter-pulldown ::ng-deep button i {
    margin-top: 3px;
}
.dataset-detail .circle_wrap a.circle {
    margin-top: 0px;
    margin-left: 0px;
    width: 30px;
    height: 30px;
}
.dataset-detail .circle_wrap a.circle i {
    font-size: 20px;
    line-height: 25px;
}
.circle_wrap{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: self-end;
}
.circle_wrap .prev-next-wrap{
    display: flex;
    gap: 0.5rem;
}
.circle_wrap .prev-next-wrap button{
    display: flex;
    gap: 0.5rem;
    border: 2px solid #4c4c4c;
    padding: 3px 10px;
    align-items: center;
}
.circle_wrap .prev-next-wrap button i {
    font-size: 20px;
}

.ledger-button {
    div {
        background: black !important;
    }
}
